Snakefile_* linguist-language=Python
*.smk linguist-language=Python
*.py linguist-language=Python
*.sh linguist-language=Shell
*.R linguist-language=R
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
